html {
    font-family: 'Vazir', Tahoma;
    direction: rtl;
}

body {
    margin: 0;
}

.Error {
    color: red;
    background-color: rgb(255, 194, 194);
    padding: 4px;
    margin-bottom: 5px;
    border: 0 none;
}

label {
    display: block;
}

.inline_label {
    display: inline;
}

.logo {
    text-decoration: none;
    display: inline-block;
    height: 35px;
    color: white;
    font-weight: bolder;
    background-color: blue;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

nav {
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-button {
    text-decoration: none;
    display: inline-block;
    height: 35px;
    color: white;
    padding-top: 5px;
}

.navbar-div {
    height: 100%;
}

.nav-item {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    border: 0 none;
}

.navbar-text {
    padding-top: 5pt;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: black;
    width: auto;
    margin: 2px;
}

.button:hover {
    background-color: rgb(30, 35, 43);
}

.left {
    float: left;
}

input[type=submit] {
    color: white;
    padding: 5px;
    background-color: black;
    border: 0 none;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(30, 35, 43);
}

input[type=text] {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 1px solid black;
}

input[type=password] {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password]:focus {
    border: 1px solid black;
}

.list {
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
}

.list-item {
    color: black;
    display: inline-block;
    width: 95%;
}

.list-item:hover {
    border: 1px solid rgb(192, 192, 192);
    background-color: rgb(230, 230, 230);
}

.mainlist {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: black;
    text-align: center;
}

.crit {
    color: red;
    font-weight: bold;
}

.crit-button {
    color: white;
    background-color: red;
    font-weight: bold;
}

time {
    direction: ltr;
}

.message {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: .7rem;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.footer {
    font-size: .75rem;
    text-align: center;
}

#contact {
    text-align: center;
}

select {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px 7px;
    width: 90%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#sort_select {
    width: 20%;
}

video {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

textarea {
    resize: vertical;
    border: 1px solid grey;
    border-radius: 4px;
    width: 90%;
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
    .container {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    li {
        margin: 5px;
        border: 1px solid rgb(200, 200, 200);
    }
    .login_form {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
        border: rgb(100, 100, 100) solid 1px;
        border-radius: 1%;
    }

    .general_form {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 0.9rem;
    }
    .container {
        width: 100%;
    }
    li {
        margin: 5px;
        border: 1px solid rgb(200, 200, 200);
    }
    .login_form {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
        border: rgb(100, 100, 100) solid 1px;
        border-radius: 1%;
    }
    .general_form {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}
@media only screen and (min-width: 770px) {
    .container {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
    li {
        margin: 5px;
        border: 1px solid transparent;
    }
    .login_form {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
        border: rgb(100, 100, 100) solid 1px;
        border-radius: 1%;
    }
    .general_form {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

}
@media only screen and (min-width: 850px) {
    .container {
        width: 780px;
    }
    li {
        margin: 5px;
        border: 1px solid transparent;
    }
    .login_form {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
        border: rgb(100, 100, 100) solid 1px;
        border-radius: 1%;
    }
    .general_form {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

}