<!DOCTYPE html>
<html lang="fa">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
        <script src="https://hcaptcha.com/1/api.js" async defer></script>
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='css/favicon.svg') }}">
    </head>
    <body>
        <nav>
            <div class="container navbar-div">
                <ul class="navbar">
                    <li class="nav-item"><a href="/" class="logo">جزوه‌دار</a></li>
                    {% block navbar %}{% endblock %}
                </ul>
            </div>
        </nav>
        {% if get_message_of_day() != '' %}
        <div class="message">{{ get_message_of_day() }}</div>
        {% endif %}
        {% block body %}{% endblock %}
        <div class="container footer">
            <a href="/help">راهنما و درباره سایت</a>
        </div>
        <script src="{{ url_for('static', filename='js/jalali-moment.browser.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dates.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sort.js') }}"></script>
    </body>
</html>
