{% extends "base.html" %}
{% block title %}تغییر گذرواژه{% endblock %}
{% block navbar %}{% include "nav.html" %}{% endblock %}
{% block body %}
<div class="container">
    <h3>تغییر رمز</h3>
    <div class="login_form">
        {% if error %}
        <div class="Error">
            {{ error_msg }}
        </div>
        {% endif %}
        <form action="/passchange" method="POST">
            {{ form.csrf_token }}
            {{ form.old_password.label }}
            {{ form.old_password }}
            <ul>
                {% for error in form.old_password.errors %}
                <li class="Error">{{ error }}</li>
                {% endfor %}
            </ul>
            {{ form.new_password.label }}
            {{ form.new_password }}
            <ul>
                {% for error in form.new_password.errors %}
                <li class="Error">{{ error }}</li>
                {% endfor %}
            </ul>
            {{ form.confirm_password.label }}
            {{ form.confirm_password }}
            <ul>
                {% for error in form.confirm_password.errors %}
                <li class="Error">{{ error }}</li>
                {% endfor %}
            </ul>
            <div class="h-captcha" data-sitekey="43742cf0-d541-4975-9941-f40c2376b4f5"></div>
            <input type="submit" value="تغییر رمز">
        </form>
    </div>
</div>
{% endblock %}