{% extends "base.html" %}
{% block title %}تغییر مدیر{% endblock %}
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
{% block body %}
<div class="container">
    <h3>تغییر مدیر {{ subject.name }}</h3>
    <div class="general_form">
        {% if error %}
        <div class="Error">
            {{ error_msg }}
        </div>
        {% endif %}
        <div>
            مدیر فعلی:{{ subject.owner.name }} - {{ subject.owner.student_id }}
        </div>
        <form action="/changeowner/{{ subject.id }}" method="POST">
            {{ form.csrf_token }}
            {{ form.owner.label }}
            {{ form.owner }}
            <ul>
                {% for error in form.owner.errors %}
                <li class="Error">{{ error }}</li>
                {% endfor %}
            </ul>
            <div class="h-captcha" data-sitekey="43742cf0-d541-4975-9941-f40c2376b4f5"></div>
            <input type="submit" value="تغییر">
        </form>
    </div>
</div>
{% endblock %}