{% extends "base.html" %}
{% block title %}درس جدید{% endblock %}
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
{% block body %}
<div class="container">
    <h2>جلسه جدید برای {{ parent.name }}</h2>
    <div class="general_form">
        {% if error %}
        <div class="Error">
        {{ error_msg }}
        </div>
        {% endif %}
        <form action="/create_session/{{ parent.id }}" method="POST">
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name }}
            <ul>
                {% for error in form.name.errors %}
                <li class="Error">{{ error }}</li>
                {% endfor %}
            </ul>
            {{ form.owner.label }}
            {{ form.owner }}
            <ul>
                {% for error in form.owner.errors %}
                <li class="Error">{{ error }}</li>
                {% endfor %}
            </ul>
            <p>در نام‌گذاری جلسه می‌توانید از هشتگ برای تفکیک بر اساس استاد استفاده کنید. (مثلاً: #دکتر_نجفی)</p>
            <input type="submit" value="ایجاد">
        </form>
    </div>
</div>
{% endblock %}