{% extends "base.html" %}
{% block title %}درس جدید{% endblock %}
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
{% block body %}
<div class="container">
    <h2>ایجاد درس جدید</h2>
    <div class="general_form">
        {% if error %}
        <div class="Error">
        {{ error_msg }}
        </div>
        {% endif %}
        <form action="/create_lesson" method="POST">
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name }}
            <ul>
                {% for error in form.name.errors %}
                <li class="Error">{{ error }}</li>
                {% endfor %}
            </ul>
            {{ form.owner.label }}
            {{ form.owner }}
            <ul>
            {% for error in form.owner.errors %}
                <li class="Error">{{ error }}</li>
            {% endfor %}
            </ul>
            {{ form.description.label }}
            {{ form.description(cols="35", rows="7") }}
            <ul>
                {% for error in form.description.errors %}
                    <li class="Error">{{ error }}</li>
                {% endfor %}
            </ul>
            <input type="submit" value="ایجاد">
        </form>
    </div>
</div>
{% endblock %}