{% extends "base.html" %}
{% block title %}تغییر نیمسال{% endblock %}
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
{% block body %}
<div class="container">
    <h2>تغییر نیمسال</h2>
    <div class="login_form">
        <div class="crit">با تغییر نیمسال تمام جزوات و درخواست‌ها حذف خواهند شد.</div>
        {% if error %}
        <div class="Error">
            {{ error_msg }}
        </div>
        {% endif %}
        <form action="/deleteall" method="POST">
            {{ form.csrf_token }}
            {{ form.password.label }}
            {{ form.password }}
            <ul class="error">
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <div class="h-captcha" data-sitekey="43742cf0-d541-4975-9941-f40c2376b4f5"></div>
            <input type="submit" class="crit-button" value="تغییر نیمسال">
        </form>
    </div>
</div>



{% endblock %}