{% extends "base.html" %}
{% block title %}راهنما{% endblock %}
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
{% block body %}
<h3>راهنما و درباره سایت</h3>
<div class="container">
    <video controls >
        <source src="{{ url_for('static', filename='general_help.mp4') }}#t=1">
    </video>
    <video controls >
        <source src="{{ url_for('static', filename='more.mp4') }}#t=1">
    </video>
    <p id="contact">در صورت تمایل برای راه‌اندازی جزوه‌دار برای ورودی خودتان با بنده تماس بگیرید.<br>@smahdink در ایتا و تلگرام</p>
</div>
{% endblock %}
