{% extends "base.html" %}
{% block title %}جزوه‌دار-سیستم مدیریت جزوات{% endblock %}
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
{% block body %}
<h3>لیست دروس</h3>
<div class="container">
    {% if is_admin %}<a class="button" href="/create_lesson">درس جدید</a>{% endif %}
    <ul class="list">
        {% for lesson in lessons %}
        <li class="list-item"><a class="mainlist" href="/show/{{ lesson.id }}">{{ lesson.name }}</a></li>
        {% endfor %}
    </ul>
    <a class="button" href="https://www.dropbox.com/sh/dyjuwsraqqhq028/AAAkQaQqzYxQqajbxORPvB4xa?dl=1">دانلود تمام جزوات</a>
    {% if is_admin %}<a class="button crit-button" href="/deleteall">تغییر نیمسال</a>{% endif %}
</div>
{% endblock %}