{% extends "base.html" %}
{% block title %}{{ requested_file.name }}{% endblock %}
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
{% block body %}
<div class="container">
    <h2>{{ requested_file.name }}</h2>
    {% if is_admin %}<a class="button" href="/create_session/{{ requested_file.id }}">جلسه جدید</a> <a href="/changeowner/{{ requested_file.id }}" class="button">تغییر مدیر</a> <!--<a  href="/rename/{{ requested_file.id }}" class="button left">تغییر نام</a>-->{% endif %}
    <p>مدیر: {{ requested_file.owner.name }}</p>
    <p>{{ requested_file.description }}</p>
    <select id="sort_select">
        <option value="none">None</option>
    </select>
    <ul class="list">
        {% for child in child_files %}
        <li class="list-item"><a  class="mainlist" href="/show/{{ child.id }}">{{ child.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}