{% extends "base.html" %}
{% block title %}ورود - جزوه‌دار{% endblock %}
{% block body %}
<div class="container">
    <h3>ورود به حساب کاربری</h3>
    <div class="login_form">
        {% if error %}
        <div class="Error">
            {{ error_msg }}
        </div>
        {% endif %}
        <form action="/login" method="POST">
            {{ form.csrf_token }}
            {{ form.student_id.label }}
            {{ form.student_id }}
            <ul>
                {% for error in form.student_id.errors %}
                <li class="Error">{{ error }}</li>
                {% endfor %}
            </ul>
            {{ form.password.label }}
            {{ form.password }}
            <ul>
                {% for error in form.password.errors %}
                <li class="Error">{{ error }}</li>
                {% endfor %}
            </ul>
            {{ form.remember.label(class="inline_label") }}
            {{ form.remember }}
            <div class="h-captcha" data-sitekey="43742cf0-d541-4975-9941-f40c2376b4f5"></div>
            <input type="submit" value="ورود">
        </form>
    </div>
</div>
{% endblock %}