{% if current_user.is_authenticated %}
<li class="nav-item left"><a class="navbar-button" href="/logout">خروج</a></li>
<li class="nav-item left"><a class="navbar-button" href="/passchange">تغییر رمز</a></li>
<li class="nav-item left"><div class="navbar-text">{{ current_user.name }}</div></li>
{% else %}
<li class="nav-item left"><a class="navbar-button" href="/login">ورود</a></li>
<li class="nav-item left"><a class="navbar-button" href="/signup">ثبت نام</a></li>
{% endif %}