{% extends "base.html" %}
{% block title %}گزارش اشکال{% endblock %}
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
{% block body %}
<div class="container">
    <h2>گزارش اشکال برای {{ session.name }}</h2>
    <div class="general_form">
        {% if error %}
        <div class="Error">{{ error_msg }}</div>
        {% endif %}
        
        <form action="/new_request/{{ session.id }}" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.docx.label }}
            {{ form.docx }}
            <div><p>حداکثر اندازه فایل ۲۰ مگابایت</p></div>
            <ul>
                {% for error in form.docx.errors %}
                <li class="Error">{{ error }}</li>
                {% endfor %}
            </ul>
            {{ form.description.label }}
            {{ form.description(cols="35", rows="7") }}
            <ul>
                {% for error in form.description.errors %}
                <li class="Error">{{ error }}</li>
                {% endfor %}
            </ul>
            <div class="h-captcha" data-sitekey="43742cf0-d541-4975-9941-f40c2376b4f5"></div>
            <input type="submit" value="ارسال گزارش">
        
        </form>
    </div>
</div>

{% endblock %}