{% extends "base.html" %}
{% block title %}فایل جدید برای {{ session.name }}{% endblock %}
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
{% block body %}
<div class="container">
    <h2>فایل جدید برای {{ session.name }}</h2>
<div class="general_form">
    {% if error %}
    <div class="Error">{{ error_msg }}</div>
    {% endif %}
    <form action="/new_file/{{ session.id }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.docx.label }}
        {{ form.docx }}
        <div><p>حداکثر اندازه فایل ۲۰ مگابایت</p></div>
        <ul>
            {% for error in form.docx.errors %}
            <li class="Error">{{ error }}</li>
            {% endfor %}
        </ul>
        {{ form.pdf.label }}
        {{ form.pdf }}
        <div><p>حداکثر اندازه فایل ۲۰ مگابایت</p></div>
        <ul>
            {% for error in form.pdf.errors %}
            <li class="Error">{{ error }}</li>
            {% endfor %}
        </ul>
        <label for="textbox">توضیحات</label>
        <textarea name="textbox" id="textbox" onchange="update()" maxlength="300" rows="7" cols="35">{{ session.description }}</textarea>
        <div class="h-captcha" data-sitekey="43742cf0-d541-4975-9941-f40c2376b4f5"></div>
        <input type="submit" value="ارسال">
    </form>
    <p>پس از فشار دادن دکمه ارسال بسته به حجم فایل‌ها و سرعت اینترنت شما مدت زمانی تا دریافت پاسخ طول خواهد کشید. لطفا صبور باشید.</p>
</div>
</div>
<script src="{{ url_for('static', filename='js/textarea.js') }}"></script>
{% endblock %}