{% extends "base.html" %}
{% block title %}تغییر نام{% endblock %}
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
{% block body %}
    <div class="general_form">
        <div class="container">
            <h2>تغییر نام {{ subject.name }}</h2>
            {% if error %}
            <div class="Error">
                {{ error_msg }}
            </div>
            {% endif %}
            <form action="/rename/{{ subject.id }}" method="POST">
                {{ form.csrf_token }}
                {{ form.new_name.label }}
                {{ form.new_name }}
                <ul>
                    {% for error in form.new_name.errors %}
                    <li class="Error">{{ error }}</li>
                    {% endfor %}
                </ul>
                <input type="submit" value="تغییر">
        </form>
    </div>
</div>

{% endblock %}