{% extends "base.html" %}
{% block title %}{{ requested_file.name }}{% endblock %}
{% block navbar %}
{% include "nav.html" %}
{% endblock %}
{% block body %}
<div class="container">
    <h2>{{ requested_file.name }}</h2>
    <a class="button" href="/show/{{ requested_file.parent_id }}">بازگشت به درس</a>
    <p>مدیر: {{ requested_file.owner.name }}</p>
    <p>{{ requested_file.description }}</p>
    {% if docx_link == None and pdf_link == None %}
    <div><p>هنوز فایلی بارگذاری نشده است.</p></div>
    {% else %}
    {% if docx_link != None %}
        <a class="button" href="{{ docx_link }}">دانلود docx</a>
    {% endif %}
    <a class="button" href="{{ pdf_link }}">دانلود pdf</a>
    <div>ایجاد شده<time>{{ requested_file.created.date() }}</time></div>
    <div>آخرین به‌روزرسانی<time>{{ requested_file.updated.date() }}</time></div>
    {% endif %}
    <a class="button" href="/new_request/{{ requested_file.id }}">گزارش اشکال</a>
    {% if is_admin %}
    <a href="/changeowner/{{ requested_file.id }}" class="button">تغییر مدیر</a>  
    <a class="button" href="/new_file/{{ requested_file.id }}">بارگذاری نسخه جدید</a>
    <a class="button left" href="/rename/{{ requested_file.id }}">تغییر نام</a>
    {% endif %}
    <div>
        <h4>گزارشات</h4>
        <ul class="list">
            {% if requests|length == 0 %}گزارشی موجود نیست{% endif %}
            {% for request in requests %}
            <li class="list-item">
                <div>{{ request.creator.name }}</div>
                <div>ایجاد شده:<time>{{ request.created.date() }}</time></div>
                <p>{{ request.description }}</p>
                {% if request.reviewed %}
                <div class="reviewed">بررسی شده</div>
                {% else %}
                    {% if is_admin %}<a class="button" href="/review/{{ request.id }}">بررسی شد</a>{% endif %}
                {% endif %}
                {% if request.link %}
                    <a class="button" href="{{ request.link }}">دانلود فایل گزارش</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}