{% extends "base.html" %}
{% block title %}ثبت نام-جزوه‌دار{% endblock %}
{% block body %}
    <div class="container">
        <h3>ثبت نام</h3>
        <div class="login_form">
            {% if error %}
            <div class="Error">
                {{error_msg}}
            </div>
            {% endif %}
            <form action="/signup" method="POST">
                {{ form.csrf_token }}
                {{ form.student_id.label }}
                {{ form.student_id }}
                <ul>
                    {% for error in form.student_id.errors %}
                    <li class="Error">{{ error }}</li>
                    {% endfor %}
                </ul>
                {{ form.name.label }}
                {{ form.name }}
                <ul>
                    {% for error in form.name.errors %}
                    <li class="Error">{{ error }}</li>
                    {% endfor %}
                </ul>
                {{ form.mail.label }}
                {{ form.mail }}
                <ul>
                    {% for error in form.mail.errors %}
                    <li class="Error">{{ error }}</li>
                    {% endfor %}
                </ul>
                {{ form.password.label }}
                {{ form.password }}
                <ul>
                    {% for error in form.password.errors %}
                    <li class="Error">{{ error }}</li>
                    {% endfor %}
                </ul>
                {{ form.password_confirm.label }}
                {{ form.password_confirm }}
                <div class="h-captcha" data-sitekey="43742cf0-d541-4975-9941-f40c2376b4f5"></div>
                <input type="submit" value="ثبت نام">
            </form>
        </div>
    </div>
{% endblock %}